# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Jupyter Notebook files
.ipynb_checkpoints

# Environment variables file
.env

# Virtual environment
venv/
.env/
.venv/
env/
ENV/

# VS Code files
.vscode/

# macOS
.DS_Store

# Log files
*.log

# IDE files
.idea/
*.iml
.venv/